@using _0_Framework.Application
@using _0_Framework.Infrastructure
@model _01_AnsarPlastQuery.MenuModel
@inject IAuthHelper AuthHelper;
@{
    var currentAccount = AuthHelper.CurrentAccountInfo();
}


<!-- Header start  -->
<header class="ec-header">
    <!--Ec Header Top Start -->
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <!-- Header Top social Start -->
                <div class="col-2 text-left header-top-left d-none d-lg-block">
                    <div class="header-top-social">
                        <span class="social-text text-upper">ما را دنبال کنید در:</span>
                        <ul class="mb-0">
                            <li class="list-inline-item"><a class="hdr-facebook" href="#"><i class="ecicon eci-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="hdr-twitter" href="#"><i class="ecicon eci-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="hdr-instagram" href="#"><i class="ecicon eci-instagram"></i></a></li>
                            <li class="list-inline-item"><a class="hdr-linkedin" href="#"><i class="ecicon eci-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Top social End -->
                <!-- Header Top Message Start -->
                <div class="col header-top-center">
                    <div class="text-center header-top-message text-upper">
                        <span> ارسال رایگان </span>این هفته برای سفارشات بالای 200 تومان
                    </div>
                </div>
                </div>
                <!-- Header Top Message End -->
                <!-- Header Top responsive Action -->
                <div class="col d-lg-none ">
                    <div class="ec-header-bottons">
                        <!-- Header User Start -->
                        <div class="ec-header-user dropdown">
                            <button class="dropdown-toggle" data-bs-toggle="dropdown"><img src="~/Theme/assets/images/icons/user.svg" class="svg_img header_svg" alt=""></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                @if (AuthHelper.IsAuthenticated())
                                {

                                    <li><a class="dropdown-item" asp-page="/Cart">ادامه خرید</a></li>
                                    <li><a class="dropdown-item" asp-page="/Index" asp-page-handler="LogOut">خروج</a></li>
                                }
                                else
                                {
                                    <li><a class="dropdown-item" href="#showmodal=@Url.Page("./Index","Register")">ثبت نام</a></li>
                                    <li><a class="dropdown-item" href="#showmodal=@Url.Page("./Index","Login")">ورود</a></li>

                                }
                            </ul>
                        </div>
                        <!-- Header User End -->
                        <!-- Header Cart Start -->
                        <a asp-page="./Wishlist" class="ec-header-btn ec-header-wishlist">
                            <div class="header-icon"><img src="~/Theme/assets/images/icons/wishlist.svg" class="svg_img header_svg" alt=""></div>
                        </a>
                        <!-- Header Cart End -->
                        <!-- Header Cart Start -->
                        <a href="#ec-side-cart" class="ec-header-btn ec-side-toggle">
                            <div class="header-icon"><img src="~/Theme/assets/images/icons/cart.svg" class="svg_img header_svg" alt=""></div>
                            <span class="ec-header-count cart-count-lable" id="cart-Items_Count">0</span>
                        </a>
                        <!-- Header Cart End -->
                        <!-- Header menu Start -->
                        <a href="#ec-mobile-menu" class="ec-header-btn ec-side-toggle d-lg-none">
                            <img src="~/Theme/assets/images/icons/menu.svg" class="svg_img header_svg" alt="icon">
                        </a>
                        <!-- Header menu End -->
                    </div>
                </div>
                <!-- Header Top responsive Action -->
            </div>
        </div>
    </div>
    <!-- Ec Header Top  End -->
    <!-- Ec Header Bottom  Start -->
    <div class="ec-header-bottom d-none d-lg-block">
        <div class="container position-relative">
            <div class="row">
                <div class="ec-flex">
                    <!-- Ec Header Logo Start -->
                    <div class="align-self-center">
                        <div class="header-logo">
                            <a asp-page="./Index"><img src="~/Theme/assets/images/logo/logo.png" alt="لوگو سایت"><img class="dark-logo" src="~/Theme/assets/images/logo/dark-logo.png" alt="لوگو سایت" style="display: none;"></a>
                        </div>
                    </div>
                    <!-- Ec Header Logo End -->
                    <!-- Ec Header Search Start -->
                    <div class="align-self-center">
                        <div class="header-search">
                            <form class="ec-btn-group-form" method="get" asp-page="/Search">
                                <input class="form-control" placeholder="نام محصول خود را وارد کنید ..." type="search" name="value" id="value">
                                <button class="submit" type="submit"><img src="~/Theme/assets/images/icons/search.svg" class="svg_img header_svg" alt=""></button>
                            </form>
                        </div>
                    </div>
                    <!-- Ec Header Search End -->
                    <!-- Ec Header Button Start -->
                    <div class="align-self-center">
                        <div class="ec-header-bottons">

                            <!-- Header User Start -->
                            <div class="ec-header-user dropdown">
                                <button class="dropdown-toggle" data-bs-toggle="dropdown"><img src="~/Theme/assets/images/icons/user.svg" class="svg_img header_svg" alt=""></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    @if (AuthHelper.IsAuthenticated())
                                    {
                                        <li><a class="dropdown-item">@AuthHelper.CurrentAccountInfo().Fullname</a></li>

                                        <li><a class="dropdown-item"asp-page="./Index" asp-page-handler="AccountArea" asp-route-id="@currentAccount.Id">حساب کاربری</a></li>
                                        <li><a class="dropdown-item" asp-page="/Cart">ادامه خرید</a></li>
                                        <li><a class="dropdown-item" asp-page="/Index" asp-page-handler="LogOut">خروج</a></li>
                                    }
                                    else
                                    {
                                        <li><a class="dropdown-item" href="#showmodal=@Url.Page("./Index","Register")">ثبت نام</a></li>
                                        <li><a class="dropdown-item" href="#showmodal=@Url.Page("./Index","Login")">ورود</a></li>
                                    }
                                </ul>
                            </div>
                            <!-- Header User End -->
                            <!-- Header wishlist Start -->
                            <a asp-page="./WishList" class="ec-header-btn ec-header-wishlist">
                                <div class="header-icon"><img src="~/Theme/assets/images/icons/wishlist.svg" class="svg_img header_svg" alt=""></div>
                            </a>
                            <!-- Header wishlist End -->
                            <!-- Header Cart Start -->
                            <a href="#ec-side-cart" class="ec-header-btn ec-side-toggle">
                                <div class="header-icon"><img src="~/Theme/assets/images/icons/cart.svg" class="svg_img header_svg" alt=""></div>
                                <span class="ec-header-count cart-count-lable" id="cart-Items_Count">0</span>
                            </a>
                            <!-- Header Cart End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec Header Button End -->
    <!-- Header responsive Bottom  Start -->
    <div class="ec-header-bottom d-lg-none">
        <div class="container position-relative">
            <div class="row ">

                <!-- Ec Header Logo Start -->
                <div class="col">
                    <div class="header-logo">
                        <a asp-page="./Index"><img src="~/Theme/assets/images/logo/logo.png" alt="لوگو سایت"><img class="dark-logo" src="~/Theme/assets/images/logo/dark-logo.png" alt="انصار پلاست" style="display: none;"></a>
                    </div>
                </div>
                <!-- Ec Header Logo End -->
                <!-- Ec Header Search Start -->
                <div class="col">
                    <div class="header-search">
                        <form class="ec-btn-group-form" method="get" asp-page="/Search">
                            <input class="form-control" placeholder="نام محصول خود را وارد کنید ..." type="search" name="value" id="value">
                            <button class="submit" type="submit"><img src="~/Theme/assets/images/icons/search.svg" class="svg_img header_svg" alt="icon"></button>
                        </form>
                    </div>
                </div>
                <!-- Ec Header Search End -->
            </div>
        </div>
    </div>
    <!-- Header responsive Bottom  End -->
    <!-- EC Main Menu Start -->
    <div id="ec-main-menu-desk" class="d-none d-lg-block sticky-nav">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-12 align-self-center">
                    <div class="ec-main-menu">
                        <ul>
                            <li><a asp-page="./Index">خانه</a></li>
                            <li class="dropdown position-static">
                                <a href="javascript:void(0)">دسته بندی ها</a>
                                <ul class="mega-menu d-block">
                                    <li class="d-flex">
                                        <ul class="d-block">
                                            @foreach (var category in Model.ProductCategories)
                                            {
                                                <li>
                                                    <a asp-page="./ProductCategory" asp-route-id="@category.Slug">@category.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)">بلاگ</a>
                                <ul class="sub-menu">
                                    @foreach (var article in Model.ArticleCategories)
                                    {
                                        <li>
                                            <a asp-page="./ArticleCategory" asp-route-id="@article.Slug">@article.Name</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li>
                                <a asp-page="./Contact">تماس با ما</a>
                            </li>
                            <li><a href="offer.html">پیشنهادات داغ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec Main Menu End -->
    <!-- ekka Mobile Menu Start -->
    <div id="ec-mobile-menu" class="ec-side-cart ec-mobile-menu">
        <div class="ec-menu-title">
            <span class="menu_title">منو</span>
            <button class="ec-close">×</button>
        </div>
        <div class="ec-menu-inner">
            <div class="ec-menu-content">
                <ul>
                    <li><a asp-page="./Index">خانه</a></li>
                    <li>
                        <a href="javascript:void(0)">دسته بندی ها</a>
                        <ul class="sub-menu">
                            @foreach (var category in Model.ProductCategories)
                            {
                                <li>
                                    <a asp-page="./ProductCategory" asp-route-id="@category.Slug">@category.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)">بلاگ</a>
                        <ul class="sub-menu">
                            @foreach (var article in Model.ArticleCategories)
                            {
                                <li>
                                    <a asp-page="./ArticleCategory" asp-route-id="@article.Slug">@article.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li><a asp-page="./Contact">تماس با ما</a></li>
                    <li><a href="offer.html">پیشنهادات داغ</a></li>
                </ul>
            </div>
            <div class="header-res-lan-curr">
                <!-- Social Start -->
                <div class="header-res-social">
                    <div class="header-top-social">
                        <ul class="mb-0">
                            <li class="list-inline-item"><a class="hdr-facebook" href="#"><i class="ecicon eci-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="hdr-twitter" href="#"><i class="ecicon eci-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="hdr-instagram" href="#"><i class="ecicon eci-instagram"></i></a></li>
                            <li class="list-inline-item"><a class="hdr-linkedin" href="#"><i class="ecicon eci-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Social End -->
            </div>
        </div>
    </div>
    <!-- ekka mobile Menu End -->
</header>
<!-- Header End  -->
