@using System.ComponentModel
@model List<_01_AnsarPlastQuery.Contracts.ProductCategory.ProductCategoryQueryModel>
<!-- Product tab Area Start -->
<section class="section ec-product-tab section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">دسته بندی های برتر ما</h2>
                    <h2 class="ec-title">دسته بندی های برتر ما</h2>
                    <p class="sub-title"> مرور مجموعه ای از محصولات برتر </p>
                </div>
            </div>

            <!-- Tab Start -->
            <div class="col-md-12 text-center">
                <ul class="ec-pro-tab-nav nav justify-content-center">
                    @foreach (var category in Model)
                    {
                        <li class="nav-item"><a class="nav-link @(Model.First() == category ? "active" : "")" data-bs-toggle="tab" href="#tab-pro-for-@category.Id">@category.Name</a></li>

                    }
                </ul>
            </div>
            <!-- Tab End -->
        </div>
        <div class="row">
            <div class="col">
                <div class="tab-content">
                    <!-- 1st Product tab start -->
                    @foreach (var category in Model)
                    {
                        <div class="tab-pane fade show  @(Model.First() == category ? "active" : "")" id="tab-pro-for-@category.Id">
                            <div class="row">
                                @foreach (var product in category.Products)
                                {
                                    if (product.Price != null)
                                    {<!-- Product Content -->
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content" data-animation="fadeIn">
                                            <div class="ec-product-inner">
                                                <div class="ec-pro-image-outer">
                                                    <div class="ec-pro-image">
                                                        <a asp-page="./ProductDetail" asp-route-id="@product.Slug" class="image">
                                                            <img class="main-image" src="~/ProductPictures/@product.Picture" alt="@product.PictureAlt" title="@product.PictureTitle">
                                                            <img class="hover-image" src="~/ProductPictures/@product.Picture" alt="@product.PictureAlt" title="@product.PictureTitle">
                                                        </a>
                                                        @if (product.HasDiscount)
                                                        {
                                                            <span class="percentage">@product.DiscountRate%</span>

                                                        }
                                                        <a href="#showmodal=@Url.Page("./Index", "PartialProductDetail", new { slug = product.Slug})" class="quickview"  title="مشاهده"><img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg" alt=""></a>

                                                        <div class="ec-pro-actions">
                                                            <a href="compare.html" class="ec-btn-group compare" title="مقایسه"><img src="~/Theme/assets/images/icons/compare.svg" class="svg_img pro_svg" alt=""></a>
                                                            <button title="افزودن به سبد خرید" class="add-to-cart" onclick="addToCart('@product.Id', '@product.Name', '@product.DoublePrice', '@product.Picture')"><img src="~/Theme/assets/images/icons/cart.svg" class="svg_img pro_svg" alt=""> افزودن به کارت </button>
                                                            <input type="hidden" value="1" id="productCount" />
                                                            <a class="ec-btn-group wishlist" title="علاقه مندی" onclick="addToWishList('@product.Id','@product.Name','@product.DoublePrice','@product.Picture','@product.Slug')"><img src="~/Theme/assets/images/icons/wishlist.svg" class="svg_img pro_svg" alt=""></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ec-pro-content">
                                                    <h5 class="ec-pro-title"><a asp-page="./ProductDetail" asp-route-id="@product.Slug"> @product.Name </a></h5>
                                                    <div class="ec-pro-rating">
                                                        <i class="ecicon eci-star fill"></i>
                                                        <i class="ecicon eci-star fill"></i>
                                                        <i class="ecicon eci-star fill"></i>
                                                        <i class="ecicon eci-star fill"></i>
                                                        <i class="ecicon eci-star"></i>
                                                    </div>
                                                    @if (product.HasDiscount)
                                                    {
                                                        <span class="ec-price">
                                                            <span class="old-price">@product.Price تومان</span>
                                                            <span class="new-price">@product.PriceWithDiscount تومان</span>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="ec-price">
                                                            <span class="new-price">@product.Price تومان</span>
                                                        </span>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                        <!-- ec 1st Product tab end -->
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ec Product tab Area End -->
